.textfor{
    margin-top: -310px;
    width: 440px;
    margin-left: -606px;
}
.facebook{
    color: rgb(51, 121, 250);
    font-weight: bold;
    font-size: 58px;
}
.text-bar{
    font-size: 25px;
    color: black;
}